@model  DeveloperProjectManagementTool.Models.Sprint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<a asp-action="Create" asp-controller="Issues" asp-route-sprintId="@Model.Id" class="btn btn-primary">
    Add Issue
</a>

<div>
    <h4>Sprint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>




<h3>Issues</h3>
<table class="table">
    <thead>
        <tr>
            <th>Issue Name</th>
            <th>Summary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Issues != null && Model.Issues.Any())
        {
            foreach (var issue in Model.Issues)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => issue.Name)</td>
                    <td>@Html.DisplayFor(modelItem => issue.Summary)</td>
                    <td>
                        <a asp-action="Create" asp-controller="SubTasks" asp-route-IssueId="@issue.Id" class="btn btn-primary">
                            Create A Task
                        </a>
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="SubTasks" asp-route-id="@issue.Id" class="btn btn-primary">
                            View Tasks
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No issues available for this sprint.</td>
            </tr>
        }
    </tbody>
</table>